$buttonColor: #FBF8BE;


.card-body {
  font-size: 25px;
  font-family: "American Typewriter", sans-serif;
  //border: 10px solid black;

}

.card-img-top{
  font-size: 25px;
  font-family: "American Typewriter", sans-serif;
  border: 5px;
}

.card-text{
  font-size: 20px;
  font-weight: bold;
}

.btn-link{
  text-align: center;
  margin-top: 10px;
  padding: 32px 16px;
  border-radius: 12px;
  box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */

}

